.navbar .navbar-nav .navitem a{
  padding: 15px;
}
.navbar .navbar-nav .nav-but
{
  padding: 10px;
}
.suggested-search{
  position: absolute;
  top: 70px;
  z-index: 10;
  display: list-item !important;
  border: 2px solid #ddd;
  background-color: #fff;
  width: 300px;
}
.suggested-search li {
  padding:5px;
  border: 1px solid #ddd;
}
.suggested-search li a{

  color: rgb(178, 173, 183);
}
